* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------------------
common style 
----------------------------*/
body{
    background-color:rgb(209, 234, 255);
}
.container {
  width: 90%;
  margin:0  auto 100px;

}
.btn-primary {
  background-color: #ff900e;
  padding: 21px 40px;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.elips{

}
/* -------------Architects-heading-container style 
------------------------------------------------------ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 100px;
}
nav h1{
    font-size: 45px;
    font-weight: 700;
}
ul{
    display: flex;
}
ul li{
    margin-right: 30px;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}
.Architects-heading-container {
  margin: 100px auto 50px;
  text-align: center;
}
.Architects-heading-container > h1 {
  font-weight: 700;
  font-size: 4rem;
  color: #131313;
}
.Architects-heading-container > p {
  color: #727272;
  padding: 20px;
}
/* -------------banner section style 
------------------------------------------------------ */
.banner-container {
  width: 90%;
}
.banner-container img {
  width: 100%;
  object-fit: cover;
}
/* -------------features-container
------------------------------------------------------ */
.features-container {
  width: 80%;
  display: flex;
  margin: 10px auto;
  gap: 30px;
  align-items: center;
}
.fuatures-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  gap: 20px;
}
.fuatures-images img {
  width: 100%;
  object-fit: cover;
}
.fuatures-info {
  width: 40%;
}
.fuatures-info > h2 {
  font-size: 45px;
  font-weight: 700;
}
.color-text {
  color: #727272;
  font-weight: 500;
}
.primary-color {
  color: #ff900e;
}
.fuatures-info > p {
  margin: 24px 0 30px;
  color: #727272;
}
.fuatures-info > .btn-primary {
  padding: 17px 28px;
}

/* -------------Architect-futuear container style
------------------------------------------------------ */
.Architect-futuear {
  display: flex;
  gap: 54px;
  margin: 100px auto;
}
.futuear-plans {
  width: 40%;
}
.Architect-title {
  font-size: 45px;
  padding-left: 21px;
  margin: 24px 0;
  border-left: 5px solid #ff900e;
}
.futuear-plans > p {
  color: #727272;
  margin-bottom: 30px;
}
.plan {
  padding: 30px;
  box-shadow: 0 0 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.plan > h4 {
  font-size: 20px;
  font-weight: 600;
  color: #131313;
  margin-bottom: 10px;
}
.Architect-img-container {
  width: 60%;
  position: relative;
}
.Architect-img-container > img {
  width: 90%;
  height: 95%;
  object-fit: cover;
  float: right;
}
.expariances {
  position: absolute;
  background-color: #ff900e;
  text-align: center;
  padding: 40px 20px;
  bottom: 0;
  color: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
}
.expariances > h2 {
  font-size: 65px;
  font-weight: 700;
}
.expariances > p {
  font-size: 24px;
  font-weight: 500;
}

/* -------------facts-container style
--------------------------------------------- */
.facts-container > p {
  color: #727272;
}
.facts-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 24px;
}
.fact-items {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 70px auto 0;
}
.item {
  text-align: center;
  padding: 30px 40px;
  border: 2px solid #ff900e;
  border-radius: 8px;
  box-shadow: 0 0 6px;
  transition: transform 0.5s;
}
.item:hover {
  transform: scale(1.1);
}
.item > h2 {
  font-size: 45px;
  color: #424242;
  margin: 10px 0 5px;
}
/* -------------sponsor-container
--------------------------------------------- */
.center-aling {
  text-align: center;
}
.center-aling > h2 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
.center-aling > p{
    color: #424242;
}
.sponsor-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0 100px;
}
/* -------------footer section
--------------------------------------------- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #FFF4E7;
    height: 30vh;
    text-align: center;
    color: #424242;
}
/*---------------------------------
 media query Start
 ------------------------------------ */
@media screen and (max-width: 576px) {
  /* common style responsive  */
  .btn-primary {
    background-color: #ff900e;
    padding: 18px 30px;
    font-size: 18px;
  }
  /* nav style  */
  nav{
    flex-direction: column;
    align-items: stretch;
    padding-left: 10px;
  }
  ul {
    flex-direction: column;
    justify-content: start;
  }
  ul li{
    margin:10px 0;
  }
  /* Architects-heading-container style responsive  */

  .Architects-heading-container {
    width: 100%;
  }
  .Architects-heading-container > h1 {
    font-size: 35px;
    font-weight: 600;
  }
  .Architects-heading-container > p {
    padding: 0;
    margin: 10px 0;
  }
  /* features-container responsive */

  .features-container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .fuatures-images {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 10px;
  }
  .fuatures-info {
    width: 100%;
    text-align: center;
  }
  /* Architect-futuear container responsive  */
  .Architect-futuear {
    flex-direction: column;
  }
  .futuear-plans {
    width: 100%;
  }
  .Architect-title {
    font-size: 35px;
  }
  .Architect-img-container {
    width: 100%;
    height: 100%;
  }
  .expariances {
    position: absolute;
    background-color: #ff900e;
    text-align: center;
    padding: 40px 30px;
    bottom: 75%;
    left: 0;
  }
  .expariances > h2 {
    font-size: 35px;
    font-weight: 700;
  }
  /* facts-container style  */
  .fact-items {
    flex-direction: column;
  }
  .item {
    margin-bottom: 50px;
  }
  /* sponsor-container */
  .sponsor-logo{
    flex-direction: column;
  }
  .sponsor-logo > img{
    margin-top: 10px;
  }
}
